@import url(../../../style/vars.css);

.number {
  position: absolute;
  top: -19px;
  right: 3px;
  font-size: 9px;
  font-weight: 700;
  background-color: #cf4848;
  color: white;
  border-radius: 10px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}

.linkIcon {
  position: relative;
}
.rightIcon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginLink {
  color: var(--main-color);
  font-family: "ProximaNova-Semibold";
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.icons {
  width: 18px;
  height: 18px;
  margin: 0px 10px 0px 30px;
}

@media (max-width: 450px) {
  .icons {
    margin: 0px 2.5px 0px 7.5px;
  }
}
