.exploreSec {
  opacity: 1;
  background-color: rgba(252, 252, 252, 1);
  /* height: 840px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exploreContent {
  display: flex;
  justify-content: space-between;

}

.exploreRight {
  width: 97%;
  /* height: 560px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exploreLeft {
  width: 97%;
  margin-right: 30px;
  height: 560px;
}

.eCard {
  width: 47%;
  height: 47%;
}

.exploreSec button {
  margin-top: 30px;
  margin-bottom: 60px;

  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "ProximaNova-Bold";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(51, 51, 58, 1);
  width: 174px;
  height: 40px;
}

@media (max-width: 992px) {
  .exploreContent {
    flex-direction: column;
  }

}

@media (max-width:600px) {
  .exploreRight {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .eCard{
    margin-top: 20px;
    width: 100%;
  }

  .exploreLeft{
    width: 100%;
    margin-bottom: 20px;

  }
  
}
